.positionAbs{
  position: relative;
}
.post-option-container {
    background-color: lightblue;
    padding: 10px;
  }
  
  .post-option-text {
    cursor: pointer;
  }
  
  .editModal{
    position: absolute;
    width: 100%;
    top: 0%;
  }