.userPost-optionConatiner {
  background-color: rgb(33, 31, 31);
  padding: 0.3rem 1rem;
  position: absolute;
  top: 15%;
  right: 0%;
}


.userPost-option >span{
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

  /* margin: 0.5rem; */
  /* margin-bottom:0.5rem; */

}
.userPost-option>span>p{
  margin-left: 8px;
}
.userPost-option>span:first-child{
  margin-bottom: 0.5rem;
}
.userPost-option-text>span>p:hover {
  color: red;
}
.editModal {
  position: fixed;
  top: 20%;
  left: 17%;
  width: 70%;
}
.userPost-option-text {
}
.userPost {
}
