.userComment-input {
  display: flex;
  width: 100%;
  align-items: start;
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid #2f3336;
  gap: 5px;
}

.comment-userProfile > img {
  height: 40px;
  width: 40px;
  border-radius: 64%;
}
.comment-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.comment-content > textarea {
  width: 100%;
  background-color: #001527;
  color: white;
  height: 50px;
  font-size: 1.3rem;
  padding: 0.4rem 0.5rem;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}
.commentbtn {
  align-self: end;
  padding: 0.4rem 2rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: blue;
  color: white;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.commentbtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Edit Comment */
.comment-modal-container {

  top: 50%;
  left: 30%;

  display: flex;
  gap: 5px;
  background-color: rgb(59, 57, 57);
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
}
.comment-modal {
  width: 100%;
}
.comment-input {
  width: 100%;
  background-color: rgb(59, 57, 57);
  color: white;
  /* height: 60px; */
  font-size: 1.5rem;
  padding: 0.4rem 0.5rem;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: end;
}
.cancel-button,
.save-button {
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  background-color: blue;
  color: white;
}


.create-modal {
  background-color: #001527;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 0.75rem;
  border-radius: 10px;

}
.createPost-modal-input{
  width: 100%;
}
.createPost-modal-input > textarea {
  width: 100%;
  background-color: #001527;
  color: white;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.4rem 0.5rem;
  border: none;
  outline: none;
  resize: none;
  height: 50px;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.edit-post-img{
  width: 100%;
  height: 200px;
  border-radius: 50px;
}
.profileAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

/* Edit Profile Modal */
.edit-profile-modal {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 400px;
  padding: 0rem;
  z-index: 22;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #2f3336;
  z-index: 9999999999999999999999;
}
.chooseavatar-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.avatar-image {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.edit-profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  position: relative;
}
.user-profile-image{
  position: absolute;
  bottom: -25%;
  left: 0%;
  
}
.user-profile-image > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.user-background-image{
  width: 100%;
  opacity: 0.9;
}
.user-background-image>img{
  width: 100%;
  height: 150px;
}

.camera-icon {
  position: absolute;
  top: 35%;
  left: 35%;
  cursor: pointer;

}
.camera-icon1{
  position: absolute;
  top: 35%;
  left: 45%;
  cursor: pointer;
}
.editProfile-modal-input {
  display: flex;
  flex-direction: column;
  margin-top:10% ;
}

.editProfile-modal-input > input {
  padding: 0.5rem 1rem;
  /* cursor: pointer; */
}

.edit-profile-avatar{
  opacity: 0.9;
}
.updateBtn {
  text-align: right;
  margin-top: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-weight: 800;
  border-radius: 50px;
  cursor: pointer;
}
.gif-wrapper-modal{
  position: absolute;
  height: 100px;
}

.btn{
  padding: 0.4rem;
  border-radius: 50px;
  margin: 0.3rem;
  border: none;
  color: white;
  background-color: blue;
  font-weight: 600;
  cursor: pointer;
}
.btn-Edit{
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}
.edit-options>label{
  margin-left: 0.4rem;
}
