.home-Container {
  display: flex;
  justify-content: center;
  
}
.aside {
  width: 15%;
  display: flex;
  justify-content: end;
  height: 100vh;
  position: sticky;
  top: 0%;
  z-index: 1;
}
.main-content {
  min-width: 45%;
  max-width: 45%;
  border-right: 4px solid #2f3336;
  border-left: 4px solid #2f3336;
  background-color: #001527;
  z-index: 0;
}
.aside-right {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0%;
  z-index: 0;
}
.title {
  font-size: 1.5rem;
  font-weight: 900;
 
}
.page-Title {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #2f3336;
  position: fixed;
  width: 44.2%;
  height: 70px;
  opacity: 0.9;
  background-color: #001527;
  z-index: 999 ;
  transition: background-color 0.3s;

}
.mainTitle {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.home-createPost{
  margin-top: 70px;
}
.filter-Tweet {
  background-color: #102b3f;
}
