.home-Container{
    display: flex;
    justify-content: center;
}
.aside{
width: 25%;
display: flex;
justify-content: end;
}
.main-content{
    width: 40%;
    border-right: 1px solid #2F3336;
    border-left:1px solid #2F3336 ;
    /* padding: 0 0.5rem; */
    /* border-right: 1px solid #EFF3F4; */
    /* padding:0rem 1rem; */
}
.aside-right{
    width: 20%;
}
.title{
    text-align: center;
}


