.home-Container{
    display: flex;
    justify-content: center;
}
.aside{
width: 25%;
display: flex;
justify-content: end;
}
.main-content{
    width: 40%;
    border-right: 1px solid #2F3336;
    border-left:1px solid #2F3336 ;
}
.aside-right{
    width: 20%;
}
.title{
    font-size: 1.5rem;
    font-weight: 900;
}
.page-Title{
    padding: 1rem 0.5rem;
    border-bottom:1px solid #2F3336 ;
}
.mainTitle{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}


