.sortFilter{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
}
.post-option{
    position: absolute;
    right: 0%;
    top:50%
}


  