.sort-modal {
  display: flex;
  flex-direction: column;
  background-color: #102B3F;
  border-radius: 5px;
  z-index: 99999;
}
.sort-modal>span{
  display: flex;
  align-items: center;
  gap: 5px;

}

.sort-option {
  cursor: pointer;
  padding: 10px;
  color: white;
  z-index: 9999;
}
.sort-option:hover{
  background-color:#001527;
}
