.sort-modal {
  display: flex;
  flex-direction: column;
  background-color: #2a2828;
  padding: 10px;
  border-radius: 5px;
  z-index: 99999;
}

.sort-option {
  cursor: pointer;
  margin: 5px 0;
  color: white;
  z-index: 9999;
}
