.tweetCard {
  width: 50%;
}

.PostCard {
  display: flex;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  background-color: #001527;
  border-top: 1px solid #2f3336;
  
}
.postCard-profileImage {

  width: 40px;
}
/* .postCard-profileImage{
  width: 10%;
} */

.postCard-profileImage > img {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.postCard-Content {
  min-width: 90%;
  display: flex;
  flex-direction: column;
}
.postCard-userDetail {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}
.postCard-userInfo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.postCard-userInfo p:first-child {
  font-weight: 700;
  font-size: 1rem;
}

.postCard-userInfo p:nth-child(2) {
  font-weight: 600;
  font-size: 0.9rem;
  color: #6e767d;
  line-height: normal;
  padding-left: 4px;
}
.postCard-Content {
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #d9d9d9;
  flex: 1;
}
.postCard-image {
  width: 100%;
  margin-top: 5px;
}
.postCard-image > img {
  border-radius: 36px;
  height: 300px;
}
.postCard-actions {
  display: flex;
  justify-content: space-between;
}
.postCard-actions-item {
  width: 25%;
  padding: 0.5rem;
  display: flex;
  /* align-items: center; */
}
.postCard-actions-item > span {
  cursor: pointer;
  padding: 0.2rem 0.2rem;
  color: gray;
  font-size: 14px;
  font-weight: 700;
}
.postCard-actions-item:hover span {
  color: white;
}
/* .postCard-actions-item:hover span:nth-child(1) {
    background-color:gray;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
  } */
.post-content-text {
  width: 100%;
}

/* .userPost-option>span{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.fullscreen-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
}
.date-text{
  margin-top: -8px;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  font-weight: 400;
  font-size: 0.95rem;
  color: #6e767d;
  line-height: normal;
}
