.App {
  /* text-align: center; */
  color: #D9D9D9;
  background-color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalize heading margins */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Reset list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Reset anchor text decoration */
a {
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.avtar-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: fill;
}